NEXT_PUBLIC_SUPABASE_URL=https://tnzfuyysziygycqrsrop.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRuemZ1eXlzeml5Z3ljcXJzcm9wIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQ1NzU5OTQsImV4cCI6MjA2MDE1MTk5NH0.GCNqzyqwcUKudMQH_sI9rD9x5zxf-MC3tZ17L6u32ug
API_URL=https://imhere-webservice-7a6l.onrender.com/
